

.matchers tr:hover {

    background-color: lightgray;

}

.matchers tr.lowvalue {
    background-color: darkgrey;
}



.matchers tr.selected {
    background-color: darkblue;
    color: white;
}

.matchers tr.selected a {
    color: white !important;
}

