<div class="panel ht_filters_div">
    <div class="panel-heading">
        <span>
            Filters
        </span>
        <span class="pull-right">
            <span class="glyphicons glyphicons-refresh" onclick="submitFilterForm()"></span>
            <span class="glyphicons glyphicons-filter-remove" onclick="clearFiltersandSubmit()"></span>
        </span>
    </div>
</div>
