@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


}

@model DataMigration.ModelFilters.SourceColumnsFilter

<form asp-action="@ViewData["listaction"]" id="filterForm" class="form-horizontal" data-ajax="true" data-ajax-method="post" data-ajax-update="#htxAjaxList" data-ajax-success="movePagers">

    @await Html.PartialAsync("_htx_filters_div_r")

    <div id="list_filters" class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                </div>
                <div class="form-group">
                    <label class="control-label" for="TableName">Table:</label>
                    <div>
                        <input asp-for="TableName" type="text" value="@ViewBag.TableName" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="ColumnName">Column:</label>
                    <div>
                        <input asp-for="ColumnName" type="text" value="@ViewBag.ColumnName" />
                    </div>
                </div>

                <input type="hidden" name="fromForm" id="fromForm" value="true" />

            </div>
        </div>
    </div>

</form>

