
@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@model Sakura.AspNetCore.IPagedList<SourceDDContext.Models.Column>


@{
    ViewData["Title"] = "Source Columns";
    ViewData["CountTitle"] = "Source Columns";
    ViewData["Icon"] = "glyphicons-database";
}

@section Scripts {

    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/hto_pagedlist.js" asp-append-version="true"></script>

    <script>

        $(document).ready(function () {

            moveIListHeader();
            fixbelowtopnav_wrapperFloating();
            var pageNum = $(".htx-ilist-pagenumber").data("pagenumber");

            $("#htxAjaxList").load("/SourceColumns/@ViewData["listaction"]?page=" + pageNum, function () { movePagers(); });

        });


    </script>


}

@*
    This shared view component has the page elements needed as a container for htx-ilist-pagectrl.  The reason htx-ilist-pagectrl is 
    a separate element in each cshtml file is because it allows custom buttons and links similar to the toggleFilter shown below.
*@
@await Html.PartialAsync("_htx_ilist_header_nomodel")

<div class="htx-ilist-pagectrl" style="display: none;">
    <div class="htx-ilist-pager-parent">
    </div>
    <span class="glyphicons glyphicons-disk-export" onclick="exportList()"></span>
    <span class="glyphicons glyphicons-filter" onclick="toggleFilter()"></span>
</div>



<div class="htx-ilist-wrapper">
    <div class="htx-ilist-filtercol right">
        @await Html.PartialAsync("_index_filters", ViewData)
    </div>
    <div class="htx-ilist-main">
        <div id="htxAjaxList">
        </div>
    </div>
</div>

